.sign-up .name{
	display: flex;
	justify-content: space-between;
    margin: auto;
}

.sign-up p{
    margin: 0;
}

.sign-up #firstName, #lastName{
	margin-top: 0;
}

.sign-up .section-heading h1{
	margin: 5% 0;
    text-align: center;
}

.sign-up .line-dec{
	border-top: 1px solid #ebecfe;
}

.sign-up .line-dec-2 {
	width: 60px;
	height: 5px;
	background-color: var(--color-main);
	margin: 0 auto;
}

.sign-up{
	display: flex;
}

.sign-up input{
	border-radius: 0px;
	outline: none;
	box-shadow: none;
	font-size: 14px;
	margin-top: 25px;
	margin-bottom: 5px;
}

.sign-up p{
	font-size: x-small;
}

.sign-up input {
	height: 44px;
	line-height: 44px;
}

.sign-up span {
	display: inline-block;
	margin-left: 8px;
}
.sign-up span a{
	transition: all 0.5s;
	background-color: #aaa;
	width: 26px;
	height: 26px;
	display: inline-block;
	text-align: center;
	line-height: 26px;
	border-radius: 50%;
	color: #fff;
	font-size: 12px;
	margin-right: 5px;
}
.sign-up .share {
	margin-top: 30px;
	border-top: 1px solid #ebecf0;
	padding: 15px 0px;
}
.sign-up h6 {
	font-size: 14px;
	color: #4a4a4a;
	font-weight: 400;
}
.sign-up span a:hover{
	background-color: var(--color-main);
}
.sign-up .button {
    width: 40%;
	cursor: pointer;
	background-color: var(--color-main);
    border: 1px solid var(--color-main);
	outline: none;
	border-radius: 5px;
	padding: 10px 15px;
	display: inline-block;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.4px;
	text-decoration: none;
	transition: all 0.5s;
    margin: 25px 30%;
}

.sign-up .button:hover{
	background-color: #fff;
	color: var(--color-main);
}
